.btnContainer {
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 30px;
  z-index: 999;
  padding: 0 15px;

  .btnRight {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ef4444;
    margin-right: 40px;

    svg {
      width: 24px;
      height: 24px;
      fill: white;
    }
  }

  .btnLeft {
    width: fit-content;
    height: 100%;
    background-color: #029a49;
    border-radius: 25px;

    .btnLeftText {
      width: 100%;
      height: 100%;
      padding: 10px 8px;
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        font-size: 15px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-weight: 500;

        svg {
          width: 30px;
          height: 60px;
          fill: white;
        }
      }
    }
  }
}
