.discountContainer {
  width: 100%;
  height: 820px;

  margin-top: 16px;

  .discountCenter {
    width: 85%;
    height: 100%;
    margin: 0 auto;

    border: 1px solid #35353533;
    border-radius: 8px;
    .discountTitel {
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 24px;
        height: 24px;
        fill: #ef4056;
      }
      h3 {
        margin: 0 8px 0 0;
        font-size: 21px;
        color: #000000;
        text-align: center;
        font-weight: 500;
      }
    }
    .discountCol {
      width: 100%;
      height: calc(100% - 80px);
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 44px;

      .discountItem {
        width: 200px;
        height: 230px;
        padding: 12px 0 12px 8px;
        border-bottom: 1px solid #35353533;
        border-left: 1px solid #35353533;
        margin: 0;
        &:nth-of-type(6) {
          border-left: unset;
        }
        &:nth-of-type(12) {
          border-left: unset;
        }
        &:nth-of-type(18) {
          border-left: unset;
        }
        &:nth-of-type(13) {
          border-bottom: unset;
        }
        &:nth-of-type(14) {
          border-bottom: unset;
        }
        &:nth-of-type(15) {
          border-bottom: unset;
        }
        &:nth-of-type(16) {
          border-bottom: unset;
        }
        &:nth-of-type(17) {
          border-bottom: unset;
        }
        &:nth-of-type(18) {
          border-bottom: unset;
        }

        .discountItemImg {
          width: 100%;
          height: 70%;
          display: flex;

          justify-content: center;

          img {
            width: 150px;
            height: 150px;
            object-fit: contain;
          }
        }
        .discountItemData {
          width: 100%;
          height: 15%;
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          .percent {
            height: fit-content;
            background-color: #ef4444;
            color: white;
            padding: 0 8px;
            border-radius: 16px;
            font-size: 12px;
          }
          .currentPrice {
            color: #3f4064;
            font-size: 16px;
          }
          svg {
            width: 16px;
            height: 16px;
          }
        }
        .prevPrice {
          width: 100%;
          height: 15%;
          text-align: end;
          padding: 0 0 15px 20px;
          font-size: 14px;
          color: #c0c2c5;
          text-decoration: line-through;
        }
      }
    }
  }
}
