* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IranYekan, Homa;
  
}
body {
  height: 7000px;
}
@font-face {
  font-family: IranYekan;
  src: url(../fonts/IRANYekan/IRANYekanWeb-Medium.eot);
  src: url(../fonts/IRANYekan/IRANYekanWeb-Medium.ttf);
  src: url(../fonts/IRANYekan/IRANYekanWeb-Medium.woff);
  src: url(../fonts/IRANYekan/IRANYekanWeb-Medium.woff2);
}
@font-face {
  font-family: Homa;
  src: url(../fonts/BHoma/BHoma.eot);
  src: url(../fonts/BHoma/BHoma.ttf);
  src: url(../fonts/BHoma/BHoma.woff);
  src: url(../fonts/BHoma/BHoma.woff2);
}
